@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Source Code Pro', monospace;
  background-color: #000;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

html,
body {
  height: 100%;
  overflow-x: hidden; /* evita scroll lateral */
  overflow-y: auto; /* un único scroll vertical controlado */
}
